<%= form_for(@image) do |f| %>
 <%= f.file_field :uploaded_file %>
<br>
<br>
Catagory:
  <%=f.select :img_type, options_for_select([["Dog"], ["Cat"],["Horse"],["Reptile"],["Hedgehog"],["Rodent"],["Baby"],["Bird"]])%>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br>
<br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
