<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
<p id="notice"><%= notice %></p>
<center><table border ="1" style="width:50%">
<td><center><%= image_tag root_url + "/images/" + @image.filename, size: "500x550", alt: @image.filename %><br>
<div align="justify"><%= render 'yes_vote', image: @image %>
<%= @cute_percent%>
% cute
<%= render 'no_vote', image: @image %></div>
</table></center>
<%if user_signed_in?%>
	<%if @image.posts.length == 1 %>
		No comments on this image yet, be the first!
		<%= render 'posts/form'%>
	<%else%>
	<table border="1" style="width:100%">
		<%@image.posts.each do |post|%>
			<%if !post.new_record? %>
<tr>
			<td>Posted by: <%=post.username%></td>
			<td><%=post.comment%></td>
			<td>Posted on: <%=post.created_at%></td>
			<%end%>
		<%end%>
	<br>
	<%= render 'posts/form'%>
	<%end%>
</table>
<%end%>

