<!DOCTYPE html>
<html>
<head>
the following two lines is used for adding devise user log in/log out buttons to each page
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
  <title>Cute</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
